<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST%{REQUEST_URI} [L,R=301]


RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

#RewriteRule ^verifyReset$ /request_login/verifyReset.php
#RewriteRule ^verifyReset/([a-zA-Z0-9-/]+)/([a-zA-Z0-9-/]+)$ /request_login/verifyReset.php?email=$1&code=$2 [L,QSA]

#LOGOUT
RewriteRule ^logout$ logout.php [L]

#Xem sản phẩm
RewriteRule ^product/([a-zA-Z0-9-/]+)$ /templates/store/view.php?id=$1 [L]
RewriteRule ^product/([a-zA-Z0-9-/]+)$ /templates/store/view.php?id=$1 [L]

#GETLINK
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ ?act=$1&category=$2&type=$3 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/?$ ?act=$1&category=$2 [L,QSA]
RewriteRule ^([^/]+)/?$ ?act=$1 [L,QSA]





</IfModule>

