section{
	background: #fbfbfd ;
	padding-top: 2em;
	padding-bottom: 5em;
}
.change-profile, .change-password {
	letter-spacing: -0.016em;
	text-align: center ;
	margin-right: auto;
	margin-left: auto;
}
.change-profile label{
	position: relative;
	left: 10%;
	float: left;
	font-size: 16px;
	font-weight: 600;
}
.change-profile input,textarea{
	width: 65%;
	min-width: 222px;
	font-size: 16px;
	position: relative;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #191919;
	display: inline;
	padding: 10px 20px;
	border: 1px solid #ccc;
	margin: 4px;
	border-radius: 28px;
}
.change-profile textarea:hover{
	border-color: dimgray;
}


.change-profile input:hover{
	border-color: dimgray;
}



.background-content{
	padding: 10px;
	border: 0px solid;
	border-radius: 2em;
	width: 90%;
	max-width: 1000px;
	min-width: 320px;
	margin-left: auto;
	background: transparent;
	margin-right: auto;
}
.background-logo{
	border-radius: 1.5em;
	background: rgb(0,0,8);
	background: linear-gradient(0deg, rgba(0,0,8,1) 0%, rgba(3,4,5,0.8911939775910365) 4%, rgba(252,252,252,0) 100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.cover-img{
	background: black;
	width: 60%;
}
.button-div button{
	min-width: 200px;
	padding: 10px 6px;
	font-size: 16px;
	border: 0px solid;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	background: #0071e3;
	margin: 10px;
}

.button-div button:hover{
	background: #0077ed;
}
.button-div button:active{
	background: #006edb;
}
.change-profile button{
	margin-right: auto;
	margin-left: auto;
	padding: 10px 33px;
	font-size: 16px;
	border: 0px solid;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	background: #0071e3;
	margin-top: 10px;
	width: 40%;
}
.infomation {

	text-align: left;
	padding: 2em;
}
.button-div{
	padding-bottom: 2em;
}
.infomation i{
	display: inline;
	font-size: 16px;
}
.infomation p {
	display: inline;
	font-size: 16px;
	line-height: 1.4;
}


.order{
	margin-top: 1em;
	margin-bottom: 2em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.order-empty{
}
.order .list-item-product{
	display: flex;
	align-items: flex-start;
	border: 2px solid #adadad;
	border-radius: 5px;
	max-width: 500px;
	min-width: 250px;
	margin-right: auto;
	margin-left: auto;
	background: #ffffff14;
	padding: 14px;
	margin-bottom: 15px;
}
.order .list-item-left{
	flex-direction: row;
	justify-content: center;
}
.list-item-right{
	width: 100%;
}
.list-item-right .brand{
	margin-top: 1%;
	left: 2%;
	float: left;
	position: relative
}
.list-item-right .price{
	float: right;
	margin-top: 13%;
	margin-right: 2%;
	position: relative;
}
.panel-product{
	width: fit-content;
	top: 8px;
	left: 8px;
	position: relative;
}

.order .list-item-left img{
	width: 100px;
}
.order .list-item-right h1{
	font-size: 20px;
	font-weight: 600;
	width: 60%;
	color: #101010;
	text-align: left;
	margin-left: 6px;
}
.order .list-item-right a{
	font-size: 20px;
	text-decoration: none;
	color: #333333;
}
.order .list-item a:hover{
	color: #000000;
}
.order .list-item p{
	font-size: 20px;
	width: 25%;
	color: #101010a6;
	margin-top: 14%;
	position: relative
}

.infomation{
	width: auto;
}
.account-information{
	background: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 16px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	-webkit-box-shadow: -1px 15px 29px -13px rgb(0 0 0 / 75%);
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 1rem;
}
@media only screen and (max-width: 825px) {
	.account-information{
		width: 100%;
	}
}
@media only screen and (max-width: 800px) {
	#fb-root {
		display: none;
	}
}
