section {
    background: #fbfbfd;
    padding-top: 2em;
    padding-bottom: 5em;
}

#active {
    display: none;
}

input[type="checkbox"] {
    display: block;
    vertical-align: middle;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.grid-margin {
    margin-bottom: 1.5rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table .remove-button {
    padding: 7px 20px;
    background: #f27474;
    border: 0px solid;
}

.table .remove-button:hover {
    cursor: pointer;
    background: #fd5656;
}

.checkout-button {
    padding: 11px 20px;
    font-size: 15px;
    color: #fff;
    background-color: #059f89;
    border: 0px solid;
}

.checkout-button:hover {
    cursor: pointer;
    background-color: #02b79b;
}

.checkout-button:active {
    background-color: #016e5f;
}

th {
    display: table-cell;
}

tbody tr td img {
    width: 100px;
}

.table thead th,
.jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 500;
    color: #6c7293;
}

.table thead th,
.jsgrid .jsgrid-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #2c2e33;
}

.table,
.jsgrid .jsgrid-table {
    margin-bottom: 0;
    color: #6c7293;
}

.table th,
.jsgrid .jsgrid-table th,
.table td,
.jsgrid .jsgrid-table td {
    padding: 0.9375rem;
    vertical-align: middle;
    border-top: 1px solid #2c2e33;
}

.table th {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1;
    white-space: nowrap;
}

.pl-2 {
    vertical-align: middle;
}

.content-wrapper {
    background: #000000;
    padding: 1.875rem 1.75rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.change-profile,
.change-password {
    letter-spacing: -0.016em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.change-profile label {
    position: relative;
    left: 10%;
    float: left;
    font-size: 16px;
    font-weight: 600;
}

.change-profile input,
textarea {
    width: 65%;
    min-width: 222px;
    font-size: 16px;
    position: relative;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #191919;
    display: inline;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin: 4px;
    border-radius: 28px;
}

.change-profile textarea:hover {
    border-color: dimgray;
}

.change-profile input:hover {
    border-color: dimgray;
}

.background-content {
    padding: 10px;
    border: 0px solid;
    border-radius: 2em;
    width: 90%;
    max-width: 1000px;
    min-width: 320px;
    margin-left: auto;
    background: #fbfbfd;
    margin-right: auto;
}

.background-logo {
    border-radius: 1.5em;
    background: rgb(0, 0, 8);
    background: linear-gradient(0deg, rgba(0, 0, 8, 1) 0%, rgba(3, 4, 5, 0.8911939775910365) 4%, rgba(252, 252, 252, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-img {
    background: black;
    width: 60%;
}

.button-div button {
    min-width: 200px;
    padding: 10px 6px;
    font-size: 16px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    background: #0071e3;
    margin: 10px;
}

.button-div button:hover {
    background: #0077ed;
}

.button-div button:active {
    background: #006edb;
}

.change-profile button {
    margin-right: auto;
    margin-left: auto;
    padding: 10px 33px;
    font-size: 16px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    background: #0071e3;
    margin-top: 10px;
    width: 40%;
}

.infomation i {
    display: inline;
    font-size: 16px;
}

.infomation p {
    display: inline;
    font-size: 16px;
    line-height: 1.4;
}

.order {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.order-empty {}

.order .list-item-product {
    display: flex;
    align-items: flex-start;
    border: 2px solid #adadad;
    border-radius: 5px;
    max-width: 500px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff14;
    padding: 14px;
    margin-bottom: 15px;
}

.order .list-item-left {
    flex-direction: row;
    justify-content: center;
}

.list-item-right {
    width: 100%;
}

.list-item-right .brand {
    margin-top: 1%;
    left: 2%;
    float: left;
    position: relative
}

.list-item-right .price {
    float: right;
    margin-top: 13%;
    margin-right: 2%;
    position: relative;
}

.panel-product {
    width: fit-content;
    top: 8px;
    left: 8px;
    position: relative;
}

.order .list-item-left img {
    width: 100px;
}

.order .list-item-right h1 {
    font-size: 20px;
    font-weight: 600;
    width: 60%;
    color: #101010;
    text-align: left;
    margin-left: 6px;
}

.order .list-item-right a {
    font-size: 20px;
    text-decoration: none;
    color: #333333;
}

.order .list-item a:hover {
    color: #000000;
}

.order .list-item p {
    font-size: 20px;
    width: 25%;
    color: #101010a6;
    margin-top: 14%;
    position: relative
}

.infomation {
    width: auto;
}

.total-product {
    display: flex;
    position: sticky;
    bottom: 0;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    background-color: #fbfbfd36;
    padding: 0px 0px 0px 10px;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
    align-items: baseline;
    justify-content: space-between;
}

.total-product span {
    font-size: 15px;
    color: #6c7293;
    margin-left: auto;
}

.total-product .checkout-span4 {
    width: 33.33333333%;
}

.is-pinned {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0px !important;
}

.total-product span {
    display: inline;
    color: #000000;
}

.Cart-product input[type="checkbox"] {
    position: absolute;
}

.Cart-product {
    overflow: hidden;
    margin-bottom: 29px;
    display: flex;
    border: 1px solid #7676774f;
    border-radius: 16px;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-shadow: 0px 14px 18px -10px rgb(0 0 0 / 43%);
}

.Cart-product input[type="number"] {
    border: 1px solid #f5f5f5;
    height: 30px;
    margin-left: -1px;
    text-align: center;
    width: 60px;
    margin-right: -1px;
    padding: 0;
    line-height: 15px;
    font-weight: 600;
    font-size: 14px;
}

.Cart-product .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px 0 0 16px;
    background: #eceff0;
    float: left;
    width: 240px;
    height: 240px;
}

.Cart-product .right-content {
    position: relative;
    padding: 18px 18px 0 18px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* CONTENT ROW */

.Cart-product .Crow {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.Cart-product .Crow .price {
    font-weight: 600;
}

.Cart-product .Erow {
    position: absolute;
    right: 20px;
}

.Cart-product .Erow i {
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}

.Cart-product .Erow i:hover {
    color: #d90707;
}

.Cart-product img {
    width: 90% !important;
    height: auto !important;
    margin-right: auto;
    margin-left: auto;
}

.Cart-product .qtym button {
    font-weight: 600;
    background: #fff;
    border: 1px solid #f5f5f5;
    outline: none;
    height: 30px;
    width: 25px;
    vertical-align: baseline;
    text-align: center;
    padding: 0;
}


/* DELIVERY */

.pop-up .content .container {
    padding: 2em;
}

.pop-up {
    min-width: 350px;
}

.checkout-content {
    text-align: left;
}

#Delivery {
    border: 1px solid #7676774f;
    justify-content: flex-start;
    padding: 2em;
    background: white;
    -webkit-box-shadow: -1px 15px 29px -13px rgb(0 0 0 / 75%);
    border-radius: 16px;
}

#Delivery b {
    font-weight: 600;
    color: black;
}

#Delivery h3 {
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    margin: 16px 0;
}

#Delivery span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #767677;
    padding-left: 10px;
    width: 100%;
    text-align: left;
    bottom: 8px;
    position: relative;
}

#Delivery-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#Delivery .dieukhoan {
    width: 100%;
    text-align: left;
    display: -webkit-inline-box;
    margin: 10px;
}

#Delivery .dieukhoan p {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.Delivery-address-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    padding: 1em;
    border-left: 2px solid #101010;
}

.Delivery-address-select {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 46.666666%;
    padding: 1em;
    border-left: 2px solid #101010;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    z-index: 0;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 34px;
    line-height: 34px;
    display: block;
    font-size: 14px;
    color: white;
    background: #323233;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #323233;
    position: absolute;
    left: -50%;
    top: 32px;
    z-index: -9999;
}


/*progressbar connectors*/

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #059f89;
    color: white;
}

#Delivery .cart-view {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

#Delivery-form label {
    bottom: 6px;
    position: relative;
}

.error {
    color: red;
    font-size: 14px;
    padding-left: 10px;
    width: 100%;
    text-align: left;
}

.error~span {
    display: none;
}

.error~.dieukhoan label {
    display: none !important;
}

.dieukhoan input.error~p {
    color: red;
}


/* PAYMENT */

#Payment-form {
    width: 100%;
}

#Payment-form .Payment-radio {
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
}

#Payment-form .Payment-radio img {
    width: 40px;
}

.payment-radius {
    border-radius: 2em;
}

.Payment-content {
    text-align: left;
    margin-left: 9px;
    margin-bottom: 20px;
}

input[type=radio] {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none !important;
    -webkit-appearance: none;
}

input[type=radio]:checked::before {
    background: #a5d3ff;
    border-color: dodgerblue;
}

input[type=radio]::before {
    position: relative;
    top: -2px;
    left: -2px;
    display: block;
    content: "";
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 100%;
    box-shadow: inset 0 0.1em 1px -0.1em rgb(0 0 0 / 30%);
    width: 20px;
    height: 20px;
}

input[type=radio]::after {
    position: relative;
    top: -17px;
    left: 15px;
    display: block;
    content: "";
    background: dodgerblue;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    width: 0;
    height: 0;
}

input[type=radio]:checked::after {
    transition: all ease-in-out 100ms 0;
    top: -19px;
    left: 3px;
    width: 12px;
    height: 12px;
}

/* //QRCODE */
.qrcode{
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.qrcode img{
    border: 3px solid #059f89;
    border-radius: 7px;
}
@media only screen and (max-width: 800px) {
    #fb-root {
        display: none;
    }
    .checkout-button {
        font-size: 14px;
        padding: 10px;
    }
    .total-payment-span {
        font-size: 12px !important;
    }
    #total-price-result {
        font-size: 14px !important;
    }
    .total-product {
        padding: 0px 0px 0px 7px !important;
    }
}