section {
    position: relative;
    padding: 2em 0;
}

.swal2-popup {
    width: auto !important;
}

.swal2-title {
    font-size: 22px !important;
}

.swal2-styled.swal2-confirm {
    background-color: #0079f3 !important;
}

.swal2-styled.swal2-confirm:focus {
    -webkit-box-shadow: 0 0 0 3px #ff57229e !important;
    box-shadow: 0 0 0 3px #ff57229e !important;
}

.signup-success {
    padding: 8px;
    text-align: center;
    border: 0px solid;
    border-radius: 18px;
    margin: 22px;
    color: white;
    width: 80%;
    display: none;
    background: #03b108b5;
}

.box-content {
    padding: 0px !important;
}

.wrapper-login {
    width: 1%;
    height: 90vh;
    background: #131417;
    display: table-cell;
    vertical-align: middle;
}

.sign-panels {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    position: relative;
    top: 15px;
    max-width: 350px;
    background: #fff;
    padding: 40px 80px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

.login,
.signup {
    position: relative;
}

.title {
    color: #5f5f5f;
}

.title span {
    display: block;
    font-size: 25px;
    font-weight: bold;
}

.title p {
    font-size: 16px;
    font-weight: 500;
}

.or {
    margin: 35px 0;
    font-weight: 600;
    color: #9f9f9f;
}

.or:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #cecece;
    position: absolute;
    margin-top: -10px;
    z-index: 0;
}

.or span {
    display: block;
    background: #fff;
    width: 50px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.sign-panels input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    position: relative;
    right: 10%;
    display: block;
    margin-bottom: 15px;
    height: 28px;
    border-radius: 50px;
    border: none;
    background: #ededed;
    padding: 10px 23px;
    font-size: 16px;
    color: #7c7c7c;
}

.sign-panels input:focus {
    outline: none;
}

.sign-panels input[type="checkbox"] {
    display: none;
}

.sign-panels input[type="checkbox"]+label {
    display: block;
    width: 50%;
    text-align: left;
    padding-left: 60px;
    cursor: pointer;
    color: #828282;
    font-weight: 500;
    margin: 22px 0px;
}

.sign-panels input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #dbdbdb;
    position: absolute;
    left: 30px;
    border-radius: 50%;
    border: 2px solid white;
    -webkit-box-shadow: 0 0 0 5px #ededed;
    box-shadow: 0 0 0 5px #ededed;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sign-panels input[type="checkbox"]:checked+label:before {
    background: #FF5722;
    -webkit-box-shadow: 0 0 0 5px #FF5722;
    box-shadow: 0 0 0 5px #FF5722;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-signin {
    display: inline-block;
    width: 50%;
    background: #0079f3;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.btn-signin-submit {
    display: inline-block !important;
    width: 70% !important;
    background: #0079f3 !important;
    border-radius: 50px !important;
    padding: 10px !important;
    font-size: 20px !important;
    color: #fff !important;
    text-decoration: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.btn-reset,
.btn-member,
.btn-fade {
    font-size: 16px;
    color: #3a3a3a;
    display: block;
    margin: 23px auto -12px;
    text-decoration: none;
}

.btn-member {
    margin-top: 15px;
}

.btn-reset .fa,
.btn-member .fa {
    margin-left: 6px;
}

.notification p {
    font-size: 20px;
    font-weight: 600;
    color: #9f9f9f;
}

.notification span {
    color: #0079f3;
}

.error {
    display: block;
    color: #0079f3;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

@media screen and (max-width: 570px) {
    .btn-face,
    .btn-twitter {
        width: 100%;
    }
    .btn-face {
        margin-right: 0;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 480px) {
    .sign-panels input[type="checkbox"]+label {
        width: 100%;
    }
    .btn-signin {
        width: 80%;
    }
    .title span {
        font-size: 36px;
    }
}


/*GOOGLE LOGIN BUTTON */

#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 202px;
    border: 1px solid;
    border-radius: 50px;
    -webkit-box-shadow: 2px 3px 2px grey;
    box-shadow: 2px 3px 2px grey;
    white-space: nowrap;
    margin-top: 19px;
    padding: 8px 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
}
.Btn-facebook{
    background: #1877f2 !important;
    color: #fff !important;
    border:none !important;
}

#customBtn:hover {
    cursor: pointer;
}

span.label {
    font-weight: normal;
}

span.icon {
    background: url('../img/icon/google.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

span.buttonText {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .25px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding-right: 42px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 2px;
}

@media only screen and (max-width: 540px) {
    .sign-panels {
        margin: 10px;
    }
}